@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300;400&family=Russo+One&display=swap');

* {
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    font-style: none;
}

.back-button{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.back-button a{
    color: white;
}

.back-button button{
    border: none;
    text-decoration: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #70d0d2;
}

.back-button button:hover {
    background-color: black;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #70d0d2;
}

.the-code{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%px;
}

.jedi-logo{
    height: 200px;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
    font-size: 30px;
}

.phrase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}